<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TH30NEAND0NLY</title>
</head>
<body>
<style type="text/css">
*{
padding:0;
margin:0;
outline:0;
}
body {
background:black;
}
.accordion {
background-color: #002;
color: #f80;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
font-weight:bolder;
}
.active, .accordion:hover {
background-color: #004;
}
.panel {
padding: 0 18px;
background-color: #001;
display: none;
overflow: auto;
padding-top:10px;
padding-bottom:10px;
color:#0dd;
}
u{
color:green;
margin:3px;
font-weight:bolder;
}
b{
color:red;
}
h4{
color:green;
text-decoration:underline;
margin:5px;
}
a{
color:green;
}
pre img{
max-height:200px;
max-width:100%;
margin:10px;
border:1px solid red;
}
</style>
<script type="text/javascript">
window.onload = function (){
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function() {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
} else {
panel.style.display = "block";
}
});
}
if(acc.length > 0){
document.getElementById("099").style.display="none";
document.getElementById("000").style.display="block";
}};
</script>
<br><br>
<br><br>
<h3 id="099"  style="color:red" >No Victims Caught</h3>
<p id="000" style="display:none;color:green">Click On the IP to expand the data</p>


